{% extends 'base.html' %}
{% load news_tags %}

{% block title %}{{ news_item.title }} :: {{ block.super }}{% endblock title %}

{% block sidebar %}
    {% show_categories %}
{% endblock sidebar %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            Категория: <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category }}</a>
        </div>
        <div class="card-body">
            <div class="media">
                {% if item.photo %}
                    <img src="{{ item.photo.url }}" alt="" width="350" class="mr-3">
                {% else %}
                    <img src="https://img.freepik.com/premium-photo/a-blurry-image-of-a-sunset-with-a-blurry-background_407836-555.jpg"
                         alt="" width="350" class="mr-3">
                {% endif %}
                <div class="media-body">
                    <h5 class="card-title {% cycle 'text-danger' 'text-success' %}">{{ news_item.title }}</h5>
                    <p class="card-text">{{ news_item.content|safe|linebreaks }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-body-secondary">
            {{ news_item.created_at|timesince }}
        </div>
    </div>
{% endblock content %}
